---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';



---

<CreatorLayout title="PlayBeat">
    <div class="h-full w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">PANEL DE CREADOR</h2>
        </div>
        <div class="w-full flex flex-row justify-between mt-5">
            
            <div class="flex flex-col   items-center rounded-sm ml-28">
                <h3 class="text-lg p-2">REPRODUCCIONES</h3>
                <div class="bg-grey h-[300px] w-[300px]"></div>
            </div>
            <div class="flex flex-col  items-center  rounded-sm">
                <h3 class="text-lg p-2">USUARIOS MENSUALES</h3>
                <div class="bg-grey h-[300px] w-[500px]"></div>
            </div>
            <div class="flex flex-col  items-center rounded-sm mr-28 ">
                <h3 class="text-lg p-2">OYENTES TOTALES</h3>
                <div class="bg-grey h-[300px] w-[300px]"></div>
            </div>
        </div>
        <div class="w-full flex flex-row justify-between mt-10">
            <div class="mx-20">
            <h3 class="text-4xl mx-28 font-semibold">TUS CANCIONES</h3>
            </div>
            <div class="mx-20">
            <h3 class="text-4xl mx-28 font-semibold">TUS ALMBUMS</h3>
            </div>
        </div>
    </div>
</CreatorLayout>
