---
import Layout from '../layouts/Layout.astro';
import FlechaDchHeader from "@/icons/FlechaDchHeader.astro";
import FlechaIzqHeader from "@/icons/FlechaIzqHeader.astro";
import { Global } from "@/globalState/globalUrl.js";
import {Avatar} from "@nextui-org/react";
import { editUser } from '@/utils/editUser';
import { uploadImg } from '@/utils/uploadImg';

const user = Astro.locals.usuario;
let error={password:"",photo:""};
let value;

if (Astro.request.method ==="POST" ) {

    try{
        const data = await Astro.request.formData();
        const formType = data.get("formType");
        if(formType === 'form1') {
            const password = data.get("password");
            value=password as string;
            if(value !== "" ){
                if ( typeof value !== "string" || value.length < 6){
                    error.password = "La contraseña debe tener al menos 6 caracteres";
                }else{
                    const request = await editUser(Astro.cookies.get("token").value,value,"contraseña");
                    if (request.status === 201) {
                        return Astro.redirect('/home');
                    }else{
                        error.password = "Error en la petición";
                    }
                }
            }else{
                error.password = "Introduce una contraseña";
            }
        } else if(formType === 'form2') {
            const file = data.get("photo")
            if(file.size === 0){
                error.photo = "Introduce una imagen";
            }else{
                const img = await uploadImg(file);
                console.log("img:", img)
                const request = await editUser(Astro.cookies.get("token").value,img.id,"img");
                if (request.status === 201) {
                    return Astro.redirect('/home');
                }else{
                    error.photo = "Error en la petición";
                }
            
            }
            
        }
       


    } catch (error) {
    console.error(error);
    }

  
}


---

<Layout title="PlayBeat">
    <div class=" z-10 flex fle-row gap-2 mt-5 fixed px-8 " >
        <button onclick="window.history.back();">
            <FlechaIzqHeader/>
        </button>
        <button  onclick="window.history.forward();">
            <FlechaDchHeader/>
        </button>
    </div>
    <div class="mt-14">
        <h1 class="text-bluePB text-5xl font-semibold ml-10">EDITAR</h1>
    </div>
    <div class="grid grid-cols-2 gap-3 justify-between">
        <form class="flex flex-col mt-2 mx-10 w-96 text-white" novalidate method="POST">
            <input type="hidden" name="formType" value="form1" />
            <label class="mt-3">Contraseña:</label>
            <input type="password" class=" border-2 border-white bg-transparent  h-10 rounded-md p-2 outline-none" placeholder="Introduce una nueva contraseña" name="password" required minlength="6" />
            {
                (error.password)
                && 
                <div class=" bg-[#ee4a4a] bg-opacity-85  border-[#ff2626] border-3 p-3 mt-4 rounded-md"> 
                    <p class="text-white ">{error.password}</p>
                </div>
            }
            <button type="submit" class="bg-[#6985C0] p-2 rounded-md mt-8 font-semibold">GUARDAR</button>
        </form>
        
        
        <div class=" flex flex-col flex-wrap content-center justify-center items-center photo gap-3 ">
            
            <form class="flex flex-col mt-2 mx-10 w-64 text-white" novalidate method="POST">
                
                <input type="hidden" name="formType" value="form2" />
                <section class="flex flex-col">
                    <input type="file" id="addFoto" name="photo" class=" text-white p-2 rounded-md hidden" onchange="previewImage(event) " />
                    <div class=" w-64 aspect-square mt-2 cursor-pointer bg-[#333] rounded-md border-2 border-[#c5c5c5] flex justify-center items-center" onclick="document.getElementById('addFoto').click();">
                        <img id="preview" class="w-64 aspect-square rounded-md hidden" />
                        <Avatar className="w-[180px] h-[180px]" classNames={{
                            base: "bg-gradient-to-br from-[#6985C0] from-30% to-[#CDD6EA]",
                            icon: "text-black/80 w-[180px] h-[180px] rounded-full text-7xl solid flex items-center justify-center",
                            img: "w-[180px] h-[180px] rounded-full",
                            name: "text-7xl -mt-2 "

                        }} name={user.nombreUsuario} showFallback src={Global.url+"foto/"+user.imgPerfil}/>
                    </div>
                </section>
                {
                    (error.photo)
                    && 
                    <div class=" bg-[#ee4a4a] bg-opacity-85  border-[#ff2626] border-3 p-3 mt-4 rounded-md"> 
                        <p class="text-white ">{error.photo}</p>
                    </div>
                }
                <button type="submit" class="bg-[#6985C0] p-2 rounded-md mt-8 font-semibold">SUBIR FOTO</button>
            </form>
            
        </div>
    </div>
</Layout>


<script is:inline>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview');
            output.style.display = 'block';
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
  
</script>