---

import LogoBlanco from "@/icons/LogoBlanco.astro";
import LayoutLanding from "@layouts/LayoutLanding.astro";



---

<LayoutLanding title="PlayBeat">
    <!-- Botón de inicio de sesión -->
    <div class="flex justify-end">
        <a href="/login" class="bg-bluePB opacity-85 rounded-md p-1 mt-5 mr-10 text-lg font-semibold hover:opacity-100">Iniciar sesión</a>
    </div>

    <!-- Logo y título -->
    <div class="flex flex-col items-center md:flex-row md:justify-center md:items-center">
        <LogoBlanco class="w-16 h-16 md:w-20 md:h-20" />
        <h1 class="text-4xl md:text-6xl font-semibold text-bluePB mb-5 md:mb-0 md:ml-4">PLAYBEAT</h1>
    </div>

    <!-- Subtítulo -->
    <h2 class="font-bold text-4xl md:text-7xl flex justify-center">Tu Playlist, Tu Mundo</h2>

    <!-- Botón de registro -->
    <div class="flex justify-center">
        <a href="/register" class="bg-bluePB opacity-85 rounded-lg p-2 mt-8 font-bold hover:opacity-100 text-xl md:text-2xl">Comienza a compartir tu música</a>
    </div>

    <!-- Contenido de la página -->
    <div class="grid grid-cols-1 md:grid-cols-2 mt-14 gap-8">
        <!-- Texto descriptivo -->
        <div class="text-pretty text-justify mx-4 md:mx-0 md:ml-24 mt-28">
            <h4 class="font-semibold text-xl md:text-3xl text-bluePB">Descubre, Reproduce y Comparte tu Ritmo Único.</h4>
            <p class="text-md md:text-xl mt-2">La música se convierte en una experiencia compartida. Sumérgete en un universo de melodías que van desde lo clásico hasta lo más vanguardista. Explora, crea listas de reproducción personalizadas y comparte tus pistas favoritas con amigos de todo el mundo.</p>
        </div>
        <!-- Imagen -->
        <div class="h-[207px] md:h-[415px] w-[400px] md:w-[800px] mx-4 md:ml-[10%] md:shadow-lg md:shadow-black rounded-md overflow-hidden object-fit:cover">
            <img src="/webImg.png" alt="Web Img" class="h-full w-full object-cover rounded-md" />
        </div>
        
    </div>

    <!-- Características del servicio -->
    <div class="flex flex-col mt-14 justify-center">
        <div class="w-full md:w-[35%] mx-4 md:mx-auto flex flex-col">
            <div class="text-center mt-6">
                <p class="text-xl md:text-3xl mt-2 font-semibold"><b class="text-bluePB">Explora</b> un mundo de música sin límites. Encuentra tus géneros favoritos y <b class="text-bluePB">descubre</b> nuevos artistas.</p>
            </div>
            <div class="text-center mt-4">
                <p class="text-xl md:text-3xl mt-2 font-semibold"><b class="text-bluePB">Crea listas de reproducción personalizadas</b> y disfruta de tus canciones favoritas en cualquier momento y lugar.</p>
            </div>
            <div class="text-center mt-4 mb-28">
                <p class="text-xl md:text-3xl mt-2 font-semibold"><b class="text-bluePB">Conéctate con amigos</b> y comparte tus pistas favoritas. Descubre lo que están escuchando y <b class="text-bluePB">comparte</b> tus gustos musicales.</p>
            </div>
        </div>
    </div>
</LayoutLanding>

