---

import LogoBlanco from "@/icons/LogoBlanco.astro";
import LayoutLanding from "@layouts/LayoutLanding.astro";



---

<LayoutLanding title="PlayBeat">
<div class="flex justify-end">
    <a href="/login" class="bg-bluePB opacity-85 rounded-md p-1 mt-5 mr-10 text-lg font-semibold hover:opacity-100">Iniciar sesión</a>
</div>
<div class="flex flex-row items-center align-middle justify-center">
    <LogoBlanco />
    <h1 class="text-6xl font-semibold text-bluePB mb-5 -ml-3">PLAYBEAT</h1>
</div>
<h2 class=" font-bold text-7xl flex justify-center ">Tu Playlist, Tu Mundo</h2>
<div class="flex justify-center">
    <a href="/register" class="bg-bluePB opacity-85 rounded-lg  p-2 mt-8   font-bold hover:opacity-100 text-2xl">Comienza a compartir tu música</a>
</div>
<div class="grid grid-cols-2 mt-14">
    <div class=" text-pretty text-justify  ml-[15%] mt-28">
        <h4 class="font-semibold text-3xl text-bluePB">Descubre, Reproduce  y Comparte tu Ritmo Único.</h4>
        <p class="text-xl mt-2">La música se convierte en una experiencia compartida. Sumérgete en un universo de melodías que van desde lo clásico hasta lo más vanguardista. Explora, crea listas de reproducción personalizadas y comparte tus pistas favoritas con amigos de todo el mundo.</p>
    </div>
    <div class="bg-white h-[400px] w-[700px] ml-[10%] text-black shadow-lg shadow-black rounded-md"> FOTO WEB</div>
</div>
<div class="flex flex-col mt-14 justify-center">
    
    <div class=" w-[35%] flex self-center flex-col">
        <div class="text-center mt-6">
            
            <p class="text-3xl mt-2 font-semibold"><b class="text-bluePB ">Explora</b> un mundo de música sin límites. Encuentra tus géneros favoritos y <b class="text-bluePB ">descubre </b>nuevos artistas.</p>
        </div>
        <div class="text-center mt-4">
            
            <p class="text-3xl mt-2 font-semibold"><b class="text-bluePB ">Crea listas de reproducción personalizadas</b> y disfruta de tus canciones favoritas en cualquier momento y lugar.</p>
        </div>
        <div class="text-center mt-4 mb-28">
           
            <p class="text-3xl mt-2 font-semibold"><b class="text-bluePB ">Conéctate con amigos</b> y comparte tus pistas favoritas. Descubre lo que están escuchando y <b class="text-bluePB ">comparte </b>tus gustos musicales.</p>
        </div>
    </div>
</div>
</LayoutLanding>



