---

import LogoBlanco from "@/icons/LogoBlanco.astro";
import LayoutLanding from "@layouts/LayoutLanding.astro";
---


<LayoutLanding title="PlayBeat">
<div class="flex justify-end">
    <button class="bg-bluePB opacity-85 rounded-md p-1 mt-5 mr-10 text-lg font-semibold hover:opacity-100">Iniciar sesión</button>
</div>
<div class="flex flex-row items-center align-middle justify-center">
    <LogoBlanco />
    <h1 class="text-6xl font-semibold text-bluePB mb-5">PLAYBEAT</h1>
</div>
</LayoutLanding>

