---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SearchTabs from "../components/SearchTabs.astro";
import Dropdown from "../components/Dropdown.astro";

const info = {name: 'Filter', items:['item1111111111111','item2', 'item3']}

---

<Layout title="PlayBeat">
    <Header/>
    <div class="mt-16 p-4 px-14">
        <section class="flex flex-row items-center">
            <form class="border-[1.5px] ml-10 border-white p-3 w-[500px] h-12 flex justify-start items-center rounded-md form">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                <input type="text" class=" bg-[#242423] ml-3 w-full outline-none searchInput" placeholder="Buscar"/>
            </form>
            <div class="ml-10">
                <Dropdown info={info}/>
            </div>
        </section>

        <section class="ml-10 mt-10">

        </section>
    </div> 
    <script>
        const searchInput = document.querySelector('.searchInput') as HTMLInputElement;
        const form = document.querySelector('.form') as HTMLFormElement;
        const categories = document.querySelectorAll('.categories') as NodeListOf<HTMLImageElement>;

        for(let i = 0; i < categories.length; i++){
            categories[i].addEventListener('click', () => {      
                searchInput.value = categories[i].alt;
                form.submit();
            })
        }
    </script>
    
</Layout>

