---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="PlayBeat">
    <Header/>
    <div class="mt-16 p-4 px-14">
        <form class="border-[1.5px] border-white p-3 w-[500px] h-12 flex justify-start items-center rounded-md ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            <input type="text" class=" bg-[#242423] outline-none ml-3 w-full " placeholder="Buscar"/>
        </form>
    </div> 
</Layout>