---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'

const info = {
    title: 'PlayBeat',
    description: 'A simple drum machine to make beats with.',
    }
---

<Layout title='PlayBeat'>
    <Header/>
    <section class="container mx-auto p-4 mt-16">
        <div class="bg-[#000000] w-56 h-56 rounded-md"></div>
        <h2></h2>
    </section>  
</Layout>

