<header>
    <div class="  w-4/6 flex flex-row justify-between px-8 mt-2 ">
        <div class=" z-10 flex fle-row gap-2 mt-3 fixed" >
            <button onclick="window.history.back();">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
            </button>
            <button  onclick="window.history.forward();">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
            </button>
        </div>
        
    </div>
    <div class="  -z-40 w-full h-80 bg-[#9A9A9A]  blur-3xl">
        
    </div>

</header>


