---
import { Global } from "@/globalState/globalUrl";
import FlechaDchHeader from "@/icons/FlechaDchHeader.astro";
import FlechaIzqHeader from "@/icons/FlechaIzqHeader.astro";

import {ImgPerfil} from "@/components/ImgPerfil.jsx";




const {nombreUsuario, imgPerfil} = Astro.locals.usuario
const src = Global.url+"foto/"+imgPerfil as string





---


<header class=" flex flex-row justify-between items-center w-5/6 h-16  font-bold text-3xl text-[#6985C0] px-8 fixed  bg-background bg-opacity-50 z-20 header">
    <div class="flex fle-row gap-2">
        <button onclick="window.history.back();">
            <FlechaIzqHeader />
        </button>
        <button  onclick="window.history.forward();">
            <FlechaDchHeader />
        </button>
    </div>
    <a href="/myUser">
        <ImgPerfil src={src} name={nombreUsuario} client:load/>
        
    </a>
</header>
