

<header class=" h-80 w-full"> 
    <div class=" w-full h-full flex flex-col justify-end relative">
        <img src="../../public/QUEVEDO-SAIKO.webp" class="w-full h-full" alt="imagen"/>
        <div class=" m-8 ml-16 flex flex-row items-center gap-4 absolute foto">
            <div class="rounded-full bg-[#6985C0] w-8 h-8 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play-filled" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" stroke-width="0" fill="currentColor" /></svg>
            </div>
            <h1 class="text-4xl font-semibold">Artista1</h1>
            
        </div>
        <div class=" m-8 ml-16 flex flex-row items-center gap-4 absolute foto2">
            <div class="rounded-full bg-[#6985C0] w-8 h-8 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play-filled" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" stroke-width="0" fill="currentColor" /></svg>
            </div>
            <h1 class="text-4xl font-semibold">Artista1</h1>
            
        </div>

    </div>
</header>

<style>
    .foto{
        bottom: 1vw;
        left: 0.5vw;
    }
    .foto2{
        bottom: 1vw;
        right:0.5vw
    }
</style>