---
import FlechaDchHeader from "@/icons/FlechaDchHeader.astro";
import FlechaIzqHeader from "@/icons/FlechaIzqHeader.astro";


---

<header class=" flex flex-row justify-between items-center w-4/6 h-16  font-bold text-3xl text-[#6985C0] px-8 fixed  bg-[#242423] bg-opacity-70">
    <div class="flex fle-row gap-2">
        <button onclick="window.history.back();">
            <FlechaIzqHeader />
        </button>
        <button  onclick="window.history.forward();">
            <FlechaDchHeader />
        </button>
    </div>
    <h1>PlayBeat</h1>
    <a href="/usuario1">
        <button class="bg-black w-8 h-8 rounded-full text-white text-lg solid flex items-center justify-center" >P</button>
    </a>
</header>