



<ul class="flex flex-col px-3 mt-4">
    <li class="flex flex-row gap-4">
        <div class=" text-white  font-medium flex flex-row items-center justify-center w-full h-9">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-playlist" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M17 17v-13h4" /><path d="M13 5h-10" /><path d="M3 9l10 0" /><path d="M9 13h-6" /></svg>
            <span class="ml-4">Cancion 2</span>
            <span class="ml-10">3:20</span>
        </div>
    </li>
    <li class="flex flex-row gap-4">
        <div class=" text-white  font-medium flex flex-row items-center justify-center w-full h-9">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-playlist" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M17 17v-13h4" /><path d="M13 5h-10" /><path d="M3 9l10 0" /><path d="M9 13h-6" /></svg>
            <span class="ml-4">Cancion 2</span>
            <span class="ml-10">3:20</span>
        </div>
    </li>
    <li class="flex flex-row gap-4">
        <div class=" text-white  font-medium flex flex-row items-center justify-center w-full h-9">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-playlist" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M17 17v-13h4" /><path d="M13 5h-10" /><path d="M3 9l10 0" /><path d="M9 13h-6" /></svg>
            <span class="ml-4">Cancion 2</span>
            <span class="ml-10">3:20</span>
        </div>
    </li>
</ul>