---
import NotaList from "@/icons/NotaList.astro";


---



<ul class="flex flex-col px-3 mt-4">
    <li class="flex flex-row gap-4">
        <div class=" text-white  font-medium flex flex-row items-center justify-center w-full h-9">
            <NotaList/>
            <span class="ml-4">Cancion 2</span>
            <span class="ml-10">3:20</span>
        </div>
    </li>
    <li class="flex flex-row gap-4">
        <div class=" text-white  font-medium flex flex-row items-center justify-center w-full h-9">
            <NotaList/>
            <span class="ml-4">Cancion 2</span>
            <span class="ml-10">3:20</span>
        </div>
    </li>
    <li class="flex flex-row gap-4">
        <div class=" text-white  font-medium flex flex-row items-center justify-center w-full h-9">
            <NotaList/>
            <span class="ml-4">Cancion 2</span>
            <span class="ml-10">3:20</span>
        </div>
    </li>
</ul>