---

import Casa from "@/icons/Casa.astro"
import Graph from "@/icons/Graph.astro"
import Micro from "@/icons/Micro.astro"
import Dashboard from "@/icons/Dashboard.astro"

import NotaList from "@/icons/NotaList.astro"


---

<div class=" bg-[#6985C0]  border-b-3 border-background h-full pt-8 bg-opacity-86" >
    <ul class="flex flex-col  gap-5 mx-6">
        <li class="flex ml-4 mb-3  items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-background -rotate-45" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8l4 -4" /><path d="M14 4l-10 10" /><path d="M4 20l16 -16" /><path d="M20 10l-10 10" /><path d="M20 16l-4 4" /></svg>
            <h1 class="text-[white] text-xl font-bold">PlayBeat</h1>
        </li>
        <li class="flex items-center -mt-3   hover:bg-[#575757] rounded-md">
            <a href="/home" class=" text-white font-semibold flex flex-row  items-center gap-4 w-full h-9 ml-4 mr-8">
                <Casa />
                <span>Inicio</span>
            </a>
        </li>
        <li class="flex items-center hover:bg-[#575757] rounded-md ">
            <a href="/creator" class=" text-white font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 ">
                <Dashboard />
                <span>Panel de creador</span>
            </a>
        </li>
        <li class="flex items-center hover:bg-[#575757] rounded-md ">
            <a href="/creator/estadisticas" class=" text-white font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 ">
                <Graph />
                <span>Estadísticas</span>
            </a>
        </li>
        <li class="flex items-center hover:bg-[#575757] rounded-md ">
            <a href="/creator/tusaudios" class=" text-white font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 ">
                <Micro />
                <span>Tus audios</span>
            </a>
        </li>
        <li class="flex items-center hover:bg-[#575757] rounded-md ">
            <a href="/creator/tusalbums" class=" text-white font-semibold flex flex-row items-center gap-4 w-full h-9 ml-4 mr-8 ">
                <NotaList />
                <span>Tus albums</span>
            </a>
        </li>

    </ul>
    
</div>