---
import Brujula from "@/icons/Brujula.astro"
import Casa from "@/icons/Casa.astro"
import Lupa from "@/icons/Lupa.astro"
import Mas from "@/icons/Mas.astro"
import Micro from "@/icons/Micro.astro"
import NotaList from "@/icons/NotaList.astro"




const Playlists = [
    {
        name: "Playlist 1",
    },
    {
        name: "Playlist 2",
    },
    {
        name: "Playlist 3",
    },
    {
        name: "Playlist 4",
    },
    {
        name: "Playlist 5",
    },
    {
        name: "Playlist 6",
    },
    {
        name: "Playlist 7",
    },
    {
        name: "Playlist 8",
    },
    {
        name: "Playlist 9",
    },
    {
        name: "Playlist 10",
    },
    {
        name: "Playlist 11",
    },
    {
        name: "Playlist 12",
    }
]

---

<div class=" bg-[#3f3f3f]  border-b-2 border-[#242423] h-full pt-8" >
    <ul class="flex flex-col ml-10 mr-8 gap-4">
        <li class="flex items-center  ">
            <a href="/" class=" text-white font-semibold flex flex-row  items-center gap-4 w-full h-9">
                <Casa />
                <span>Inicio</span>
            </a>
        </li>
        <li class="flex items-center ">
            <a href="/buscar" class=" text-white font-semibold flex flex-row items-center gap-4 w-full h-9">
                <Lupa />
                <span>Buscar</span>
            </a>
        </li>
        <li class="flex items-center ">
            <a href="/explorar" class=" text-white font-semibold flex flex-row items-center gap-4 w-full h-9">
                <Brujula />
                <span>Explorar</span>
            </a>
        </li>
        <li class="flex items-center">
            <a href="/podcast" class=" text-white font-semibold flex flex-row items-center gap-4 w-full h-9">
                <Micro />
                <span>Podcast</span>
            </a>
        </li>

    </ul>
    <section class="flex flex-col pt-10 px-6">
        <div class="flex flex-row justify-between">
            <a href="/my-library"><h2 class="text-[#98aed5] font-semibold" >Biblioteca</h2></a>
            <Mas />
        </div>
        <ul class="flex flex-col px-3 mt-4">
            {Playlists.map( (playlist) => 
                <li class="flex flex-row gap-4 mb-2">
                <a href="/library/playlist1" class=" text-white  font-medium flex flex-row items-center gap-4 w-full h-9">
                    <NotaList />
                    <span>Playlist 1</span>
                </a>
            </li>
        )}
            
        </ul>
    </section>

</div>