---
---

<div class=" bg-[#4a4a4a]  border-b-2 border-[#242423]" >
    <ul class="flex flex-col ">
        <li class="flex items-center h-10 ">
            <a href="/inicio" class=" text-white font-semibold flex flex-row gap-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                <span>Inicio</span>
            </a>
        </li>
        <li class="flex items-center h-10">
            <a href="/buscar" class=" text-white  font-semibold">Buscar</a>
        </li>
        <li class="flex items-center h-10">
            <a href="/explorar" class=" text-white  font-semibold">Explorar</a>
        </li>
        <li class="flex items-center h-10">
            <a href="/podcast" class=" text-white  font-semibold">Podcast</a>
        </li>

    </ul>
    <section class="flex flex-col">
        <h2 class="">Biblioteca</h2>
        <ul class="flex flex-col">
            <li>
                <a href="/biblioteca/playlist1" class=" text-white  font-semibold">Playlist 1</a>
            </li>
        </ul>
    </section>

</div>