---
import Tabs from "@components/Tabs.astro";
---

<div class=" border-b-4 border-[#242423] bg-[#4a4a4a] w-full h-full flex flex-col items-center ">
    <Tabs subject="queue" component="sidebar"/>
    
</div>