---
import Tabs from "@components/Tabs.astro";
---

<div class=" border-b-2 border-[#242423] bg-[#3f3f3f] w-full h-full flex flex-col items-center overflow-hidden">
    <Tabs subject="queue" component="sidebar"/>
    
</div>