---
interface Props{
    name: string[];
    num: string[];
    idNum: string;
}

const {name, num, idNum} = Astro.props;
---


<div class="bg-[#141414] w-[44%]  pr-4 rounded-sm flex flex-col">
    <div class="flex flex-row justify-between px-3">
        {num.map((data, index) => (
            <div class="flex flex-col">
                <h2 class=" text-md ml-4 mt-3">{name[index]}</h2>
                <h2 class=" font-bold text-2xl ml-4">{data}</h2>
            </div>
        ))}
    </div>

    <div id={"chart"+idNum}/>  
</div>





