---
import Queue from './Queue.astro';
import History from './History.astro';

const tabsItem = [
  { id: 'Cola', label: 'Cola', content: "Cola" },
  { id: 'Historial', label: 'Historial', content: "Historial" },
];

interface Props{
    subject: string;
    component: string;
    class?: string;
}

const {subject, class:className} = Astro.props;

---


<div class="tabsNav ">
  {tabsItem.map((tab, index)=> {
    return   (
    
      <input type="radio" name={"tabs"+subject} id={tab.id+subject}  checked={index == 0}>
      <label for={tab.id+subject} class="font-medium" >{tab.label}</label>
    
    )
  })}
  {tabsItem.map((tab)=> {
    return   (
      
        <div class={className}>{tab.content == "Cola" ? <Queue/> : <History/>}</div>
      
    )
  })}
</div>



<style>

/*Contiene todo el sistema de tabs*/
.tabsNav{
position: relative;
margin-top: 50px;

}
/*Las pestañas: cabecera inputs y labels*/ 
.tabsNav {
display:block;
position:relative;
width:100%;
}

.tabsNav  input{
display:none;
}
.tabsNav  label{
display:inline-block;
position:relative;
z-index:10;
width: 100px;
text-align: center;
color: lightgray;
margin-bottom: 10px;
cursor: pointer;
border: 2px solid #6985C0;

}
/*Etiquetas de pestañas individuales*/
.tabsNav label:nth-of-type(1){
  left:38px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tabsNav label:nth-of-type(2){
  left:33px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tabsNav .div:nth-of-type(1) {
  padding: 30px;


}
.tabsNav .div:nth-of-type(2) {
  
}

/*Las pestañas contenido dentro de los tabs*/
.tabsNav div{
display:none;

text-align:justify;

}
/*Etiquetas pulsadas*/
.tabsNav  input:checked + label
{
color: white;

background-color: #6985C0;
}

.tabsNav input:nth-of-type(1):checked ~ div:nth-of-type(1){
  display:block;

}
.tabsNav input:nth-of-type(2):checked ~ div:nth-of-type(2){
  display:block;

}
</style>
  