---
import Layout from '../../layouts/Layout.astro';

import Header from '../../components/Header.astro';
import HeaderArtist from '../../components/HeaderArtist.astro';
import CarrouselTop from '../../components/CarrouselTop.astro';
const canciones = [
    {
        title: 'Canción 1111',
        listeners: 1000000000,
        time: '3:45000'
    },
    {
        title: 'Canción 2',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 3',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 4',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 5',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 6',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 7',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 8',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 9',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 10',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 11',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 12',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 13',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 14',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 15',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 16',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 17',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 18',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 19',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 20',
        listeners: 1000000,
        time: '3:45'
    },
    {
        title: 'Canción 21',
        listeners: 1000000,
        time: '3:45'
    },

    
]

---

<Layout title="PlayBeat">

	<div class=" flex flex-col w-full   text-white">
		<Header/>
		<div class=" w-full h-full flex flex-col mt-16">
            <HeaderArtist />
			<section class="px-16 mt-10">
                <h2 class="text-lg font-semibold">Top canciones</h2>
                <div class="w-4/6">
                    <CarrouselTop info={canciones} num={5}/>
                </div>
                
            </section>
		</div>
	</div>

</Layout>




