---
import Layout from '../../layouts/Layout.astro';

import Header from '../../components/Header.astro';
import HeaderArtist from '../../components/HeaderArtist.astro';

---

<Layout title="PlayBeat">

	<div class=" flex flex-col w-full   text-white">
		<Header/>
		<div class=" w-full h-full flex flex-col mt-16">
            <HeaderArtist />
			
		</div>
	</div>

</Layout>




