---
import LeftBarCreator from '@components/LeftBarCreator.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PlayBeat" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo_blanco.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<div id="app" class="relative min-h-screen " >
			<aside class="[grid-area:aside] ">
				<LeftBarCreator />
			</aside>
			<main class="[grid-area:main] overflow-y-scroll">
				<slot />
		  	</main>
			
		</div>
	</body>
	<script>
		
	</script>
	
</html>


<style>
	#app {
	  display: grid;
	  grid-template-areas:
		"aside main main main main main";

	  grid-template-columns: 1fr repeat(3, 1fr) 2fr 0px;
	  grid-template-rows: 100vh;
	  background-color: #333;
	}
	.queue{

	}
  </style>
<style is:global>
	
	
	
	html {
		font-family: system-ui, sans-serif;
		background: #333;
		background-size: 224px;
	}
	
</style>

