---
import Tabs from "@components/Tabs.astro";
---

<div class="  border-b-3 border-background bg-grey bg-opacity-70 w-full h-full flex flex-col items-center overflow-hidden">
    <Tabs subject="queue" component="sidebar"/>
    
</div>