---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import Stats3 from '@components/Stats3.astro';
import { TOKEN } from '@/constants';


const response = [
    {
        "month": 4,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 5,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 6,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 7,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 8,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 9,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 10,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 11,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 12,
        "year": 2023,
        "listens": 0
    },
    {
        "month": 1,
        "year": 2024,
        "listens": 0
    },
    {
        "month": 2,
        "year": 2024,
        "listens": 0
    },
    {
        "month": 3,
        "year": 2024,
        "listens": 0
    },
    {
        "month": 4,
        "year": 2024,
        "listens": 208
    }
]
const datos = response.map(cancion => cancion.listens)
const firstNonZeroIndex = response.findIndex(cancion => cancion.listens !== 0);
const canciones = response.slice(firstNonZeroIndex).reverse();
let nombre = Astro.cookies.get("statsAudio")?.value
const reproducciones = nombre?.split("|")[1]
nombre = nombre?.split("|")[0]
console.log(datos)
//const token = Astro.cookies.get(TOKEN);
// let response
// try{
//     response = await getStatsAudio(token?.value)
//     response = response.data
// }catch(e){
//     console.log(e)
// }
---

<CreatorLayout title="PlayBeat">
    <div class=" h-full w-full bg-[rgb(51,51,51)] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class=" w-full flex flex-col items-center gap-3 mt-16 px-16">
            
            <Stats3 name={nombre || ""} num={reproducciones || "0"} idNum="4" />
            <table class="mt-8 table-auto w-full">
                <thead class="opacity-60">
                    <tr class="text-left">
                        <th class="pb-2 pl-3">Fecha</th>
                        <th class="max-w-12">Visualizaciones</th>
                        <th class="max-w-6">%</th>
                    </tr>
                </thead>
                <tbody class="border-t-[1px] border-white border-opacity-60">
                    {canciones.map((cancion, index) => (
                          <tr class=" hover:bg-[#262626]" onclick="window.location='/stats/cancion1';">
                            <td class="py-3 pl-3">{cancion.month}/{cancion.year}</td>
                            <td class="max-w-12">{cancion.listens}</td>
                            <td class="py-3 max-w-6 text-[#47d147]">{index == 0 ? "100" : cancion.listens*100/Number(canciones[index-1])}%</td>

                        </tr>
    
                    ))
                    }
                </tbody>
            </table>
        </div>
    </div>

</CreatorLayout>




<script is:inline src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script is:inline define:vars={{datos}}>
    function initCharts(){
    var options = {
          series: [{
          name: 'series1',
          data: datos
        }],
          chart: {
            height: 400,
            width: "100%",
            type: 'bar',
            toolbar: {
                show: false,
            },
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 800,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
            ,
        },

        grid:{
            show: true,
            borderColor: '#ffffff56',
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 0,
          colors: ['transparent']
        },
        xaxis: {
          type: 'string',
          categories: ["Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic","Ene", "Feb", "Mar", "Abr"],
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            },
          },
          axisBorder:{
            show: false,
          },
          axisTicks:{
            show: false,
          },

        },
        yaxis: {
          type: 'string',
          min: 0,
          max: () => {
            return Math.ceil(Math.max(...datos) / 50) * 50;
          },
          showForNullSeries: false,
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            }
          }
        },
        tooltip: {
          enabled: false

        },        
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '60%',
            endingShape: 'rounded',
            borderRadius: 5,
          },
        },
        dataLabels: {
          enabled: false
        },
 
        
        };

        var chart1 = new ApexCharts(document.querySelector("#chart"+4), options);
        console.log("chart4", chart1)
        if(chart1.el != null){
            console.log("render")
            chart1.render();
        }

    }

    initCharts()

      
</script>