---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import Stats1 from '@components/Stats1.astro';
import { TOKEN } from '@/constants';
import { getMyAudios } from '@/utils/getMyAudios';
import { getMyUserInfo } from '@/utils/getMyUserInfo';
import { getStatsUser } from '@/utils/getStatsUser';


const token = Astro.cookies.get(TOKEN);

let response
let user
let res
let datosRep : any  
let datosUser : any
res={
    "alcanceMensual": [
        {
            "month": 4,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 5,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 6,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 7,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 8,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 9,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 10,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 11,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 12,
            "year": 2023,
            "alcance": 0
        },
        {
            "month": 1,
            "year": 2024,
            "alcance": 0
        },
        {
            "month": 2,
            "year": 2024,
            "alcance": 0
        },
        {
            "month": 3,
            "year": 2024,
            "alcance": 0
        },
        {
            "month": 4,
            "year": 2024,
            "alcance": 1
        }
    ],
    "escuchasUsuarioMensuales": [
        {
            "month": 4,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 5,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 6,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 7,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 8,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 9,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 10,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 11,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 12,
            "year": 2023,
            "escuchas": 0
        },
        {
            "month": 1,
            "year": 2024,
            "escuchas": 0
        },
        {
            "month": 2,
            "year": 2024,
            "escuchas": 0
        },
        {
            "month": 3,
            "year": 2024,
            "escuchas": 0
        },
        {
            "month": 4,
            "year": 2024,
            "escuchas": 374
        }
    ]
}
try{

    datosRep = res.escuchasUsuarioMensuales.map((r:any) => r.escuchas);
    datosUser = res.alcanceMensual.map((r:any) => r.alcance);

    let [responseRes, userResponse] = await Promise.all([
        getMyAudios(token?.value),
        getMyUserInfo(token?.value)
    ]);

    response = responseRes.data;
    user = userResponse.data;



}catch(e){
    console.log(e)
}

---

<CreatorLayout title="PlayBeat">
    <div class=" w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">ESTADISTICAS</h2>
        </div>
        <div class=" w-full flex flex-row flex-wrap justify-center gap-4 mt-5">
            <Stats1 name={["Reproducciones","Ultimos 30 dias","Totales"]} num={[res.escuchasUsuarioMensuales[res.escuchasUsuarioMensuales.length-1].escuchas,user.oyentesMensuales,user.nEscuchas]} idNum="1" />
            <Stats1 name={["Oyentes","Ultimos 30 dias","Totales"]} num={[res.alcanceMensual[res.alcanceMensual.length-1].alcance, user.usuariosAlcanzados, user.usuariosAlcanzadosUltimoMes]} idNum="2"/>
        </div>     
        <section class="px-16 w-full mt-12">
          <table class="mt-8 table-auto w-full">
            <thead class="opacity-60">
                <tr class="text-left">
                    <th class="pb-2 pl-3">Canción</th>
                    <th>Artista</th>
                    <th class="max-w-6">Duración</th>
                    <th class="w-9">Reproducciones</th>
                </tr>
            </thead>
            <tbody class="border-t-[1px] border-white border-opacity-60">
                {response.cancion.map((cancion:any, index:number) => (
                      <tr class=" hover:bg-[#262626]" data-url={"stats/"+cancion.idAudio}>
                        <td class="py-3 pl-3 flex flex-row items-center gap-3">
                            <div class=" h-12 aspect-square bg-black rounded-[4px]">
                            </div>
                            <p>{cancion.titulo}</p>
                        </td>
                        <td class="py-3">                            
                        {
                                cancion && cancion.artistas.map((artista :any, index:any) => 
                                    
                                        <p class="text-gray-400">{( index == cancion.artistas?.length-1  )? artista.nombreUsuario : artista.nombreUsuario + ', '}</p>
                                        

                                )
                            }</td>
                        <td class="py-3 max-w-6 ">{cancion.duracionSeg}</td>
                        <td class="max-w-3 cursor-pointer pr-3">
                            <p>{cancion.vecesEscuchada}</p>
                        </td>
                    </tr>

                ))
                }
            </tbody>
            <script>

                document.addEventListener("astro:page-load", function() {
                  var rows = document.querySelectorAll("tbody tr");
                  rows.forEach(function(row) {
                    row.addEventListener("click", function(this: HTMLElement) {
                      var url = this.getAttribute("data-url");
                      if (url) {
                        document.cookie = "statsAudio=" + (row.children[0].children[1].textContent || "") + "|" + (row.children[3].textContent || "") + "; path=/";                        window.location.href = url;
                        
                      }
                    });
                  });
                });
              </script>
        </table>
        </sect>
        
    </div>
</CreatorLayout>
<script is:inline src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script is:inline define:vars={{datosUser, datosRep}} >
    function initCharts(datosRep, datosUser){

    var options = {
          series: [{
          name: 'series1',
          data: datosRep
        }],
          chart: {
            height: 250,
            width: "100%",
            type: 'area',
            toolbar: {
                show: false,
            },
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 800,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
            ,
        },
        grid:{
            show: true,
            borderColor: '#ffffff56',
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'string',
          categories: ["Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic", "Ene", "Feb", "Mar", "Abr"],
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            }
          }
        },
        yaxis: {
          type: 'string',
          min: 0,
          max: () => {return Math.ceil(Math.max(...datosRep) / 100) * 100;},
          tickAmount: 4,
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            }
          }
        },
        tooltip: {
          enabled: false
          
          

        },
 
        
        };
        var options2 = {
          series: [{
          name: 'series1',
          data: datosUser
        }],
          chart: {
            height: 250,
            width: "100%",
            type: 'area',
            toolbar: {
                show: false,
            },
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 800,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
            ,
        },
        grid:{
            show: true,
            borderColor: '#ffffff56',
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'string',
          categories: ["Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic", "Ene", "Feb", "Mar", "Abr"],
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            }
          }
        },
        yaxis: {
          type: 'string',
          min: 0,
          max: () => {return Math.ceil(Math.max(...datosUser) / 10) * 10;},
          tickAmount: 4,
          labels:{
            show:true,
            style:{
                colors: '#ffffff'
            }
          }
        },
        tooltip: {
          enabled: false
          
          

        },
 
        
        };

        var chart1 = new ApexCharts(document.querySelector("#chart1"), options);
        var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
        if(chart1.el != null  && chart2.el != null){
            chart1.render(datosRep);
            chart2.render(datosUser);
        }

    }
      setTimeout(() => {
        initCharts(datosRep,datosUser)
      }, 100); 
    


      
</script>
