---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import TagsTabs from '@components/TagsTabs.astro';
const canciones = [
    {
        title: "Cancion 1",
        artist: "Artista 1",
        album: "Album 1",
        time: "2:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 2",
        artist: "Artista 2",
        album: "Album 2",
        time: "3:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 3",
        artist: "Artista 3",
        album: "Album 3",
        time: "4:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 4",
        artist: "Artista 4",
        album: "Album 4",
        time: "5:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 5",
        artist: "Artista 5",
        album: "Album 5",
        time: "6:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 6",
        artist: "Artista 6",
        album: "Album 6",
        time: "7:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 7",
        artist: "Artista 7",
        album: "Album 7",
        time: "8:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 8",
        artist: "Artista 8",
        album: "Album 8",
        time: "9:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 9",
        artist: "Artista 9",
        album: "Album 9",
        time: "10:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 10",
        artist: "Artista 10",
        album: "Album 10",
        time: "11:30",
        url: "stats/cancion1"
    }

]

---

<CreatorLayout title="PlayBeat">
    <div class="h-full w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">TUS AUDIOS</h2>
        </div>
        <section class="w-full mt-8 px-16">
            <div class="flex flex-col gap-3">
                <h2 class="text-xl font-medium">Agrega un nuevo audio</h2>
                <form class="flex flex-row items-center gap-3 pt-8">
                    <section class="flex flex-col">
                        <input type="file" id="addFoto" class=" text-white p-2 rounded-md hidden" />
                        <div class=" w-64 aspect-square mt-2 cursor-pointer bg-[#333] rounded-md border-2 border-[#c5c5c5] flex justify-center items-center" onclick="document.getElementById('addFoto').click();">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="70"  height="70"  viewBox="0 0 24 24"  fill="none"  stroke="#c5c5c5"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-photo"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" /><path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3" /></svg>
                        </div>
                    </section>
                    <section class="h-64 flex flex-col items-start gap-4">
                        <div class="h-20 flex flex-row justify-start gap-4">

                            <div class="flex flex-col gap-1">
                                <label>Nombre del audio</label>
                                <input type="text" class="w-80 h-10 rounded-md bg-[#333] border-2 border-[#c5c5c5] text-white p-2 outline-none" placeholder="Nombre" />
                            </div>
                            <div class="flex flex-col gap-1">
                                <label >Participantes</label>
                                <input type="text" class="w-80 h-10 rounded-md bg-[#333] border-2 border-[#c5c5c5] text-white p-2 outline-none" placeholder="Usuario" />
                            </div>
                            <div class="flex flex-row gap-2 items-center mt-4 ">
                                <label>Privado</label>
                                <input type="checkbox" />
                            </div>

                        </div>
                        <div class="w-full h-full">
                            <TagsTabs subject="audio"/>
                        </div>
                    </section>

                </form>
            </div>
            <table class="mt-8 table-auto w-full">
                <thead class="opacity-60">
                    <tr class="text-left">
                        <th class="pb-2 pl-3">Canción</th>
                        <th>Álbum</th>
                        <th class="max-w-6">Duración</th>
                    </tr>
                </thead>
                <tbody class="border-t-[1px] border-white border-opacity-60">
                    {canciones.map((cancion, index) => (
                          <tr class=" hover:bg-[#262626]" onclick="window.location='/stats/cancion1';">
                            <td class="py-3 pl-3 flex flex-row items-center gap-3">
                                <div class=" h-12 aspect-square bg-black rounded-[4px]">
                                </div>
                                {cancion.title}
                                </td>
                            <td class="py-3">{cancion.album}</td>
                            <td class="py-3 max-w-6 ">{cancion.time}</td>
                            <td class="max-w-3 cursor-pointer pr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#6985C0" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg></td>
                        </tr>
    
                    ))
                    }
                </tbody>
            </table>
        </section>
        
    </div>
</CreatorLayout>
