---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import AddAudio from '@components/AddAudio.astro';
import { TOKEN } from '@/constants';
import { getMyAudios } from '@/utils/getMyAudios';
import { Global } from '@/globalState/globalUrl';


const token = Astro.cookies.get(TOKEN);
let response
try{
    response = await getMyAudios(token?.value)
    response = response.data
}catch(e){
    console.log(e)
}


---



<CreatorLayout title="PlayBeat">
    <div class="h-full w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">TUS AUDIOS</h2>
        </div>
        <section class="w-full mt-8 px-16">
            <AddAudio/>
            <h2 class="text-xl font-medium">Tus audios</h2>
            <table class="mt-8 table-auto w-full">
                <thead class="opacity-60">
                    <tr class="text-left">
                        <th class="pb-2 pl-3 w-3/8">Canción</th>
                        <th class="w-3/6">Artista</th>
                        <th class="max-w-6 w-1/8">Duración</th>
                    </tr>
                </thead>
                <tbody class="border-t-[1px] border-white border-opacity-60">
                    {response.cancion.map((cancion : any) => (
                          <tr class=" hover:bg-[#262626]" onclick=`document.location = 'audio/${cancion.idAudio}'` >
                            <td class="py-3 pl-3 flex flex-row items-center gap-3">
                                <img class=" h-12 aspect-square  rounded-[4px]" src={Global.url + "foto/" + cancion.imgAudio}/>
                                {cancion.titulo}
                            </td>
                            <td class="py-3">
                                {cancion.Artistas.map((artista:any, index:any) => {
                                    if(index == cancion.Artistas.length-1){
                                        return artista.nombreUsuario
                                    }else{
                                        return artista.nombreUsuario + ', '
                                    }
                                })}
                            </td>
                            <td class="py-3 min-w-10 ">{cancion.duracionSeg}</td>
                        </tr>
    
                    ))
                    }
                </tbody>

            </table>
        </section>
        
    </div>
</CreatorLayout>

<script>
    document.addEventListener('astro:page-load', () => {
      var rows = document.querySelectorAll("tbody tr");
      rows.forEach(function(row) {
        row.addEventListener("click", function(this: HTMLElement) {
          var url = this.getAttribute("data-url");
          if (url) {
            window.location.href = url;
          }
        });
      });
    });
  </script>

<script>
    document.addEventListener('astro:page-load', () => {
        // Check for BlobURL support
        var blob = window.URL || window.webkitURL;

        const inputFile = document.getElementById('file') as HTMLInputElement;
        const audio = document.getElementById('audio') as HTMLAudioElement;
        const duracion = document.getElementById('duracion') as HTMLInputElement;

        if(inputFile != null && audio != null && duracion != null){
            inputFile.addEventListener('change', function(){
                if(this.files !== null ){
                    var file = this.files[0]
                    var fileURL = blob.createObjectURL(file);
                    audio.src = fileURL;
                    audio.addEventListener('loadedmetadata', function() {
                        duracion.value = audio.duration.toString();
                    });
                }
                
            });
        }
    })
    
</script>


