---
import CreatorLayout from '@layouts/CreatorLayout.astro';
import HeaderCreator from '@components/HeaderCreator.astro';
import TagsTabs from '@components/TagsTabs.astro';
import AddAudio from '@components/AddAudio.astro';
const canciones = [
    {
        title: "Cancion 1",
        artist: "Artista 1",
        album: "Album 1",
        time: "2:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 2",
        artist: "Artista 2",
        album: "Album 2",
        time: "3:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 3",
        artist: "Artista 3",
        album: "Album 3",
        time: "4:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 4",
        artist: "Artista 4",
        album: "Album 4",
        time: "5:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 5",
        artist: "Artista 5",
        album: "Album 5",
        time: "6:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 6",
        artist: "Artista 6",
        album: "Album 6",
        time: "7:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 7",
        artist: "Artista 7",
        album: "Album 7",
        time: "8:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 8",
        artist: "Artista 8",
        album: "Album 8",
        time: "9:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 9",
        artist: "Artista 9",
        album: "Album 9",
        time: "10:30",
        url: "stats/cancion1"
    },
    {
        title: "Cancion 10",
        artist: "Artista 10",
        album: "Album 10",
        time: "11:30",
        url: "stats/cancion1"
    }

]

---
<script is:inline>
    function onSubmit(event) {
        console.log("hola")
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());
    
    console.log(data);
  }
</script>

<CreatorLayout title="PlayBeat">
    <div class="h-full w-full bg-[#333] bg-opacity-60 flex flex-col items-center">
        <HeaderCreator />
        <div class="flex flex-col items-center mt-5 gap-3">
            <h1 class="text-5xl text-bluePB font-bold">PLAYBEAT</h1>
            <h2 class="text-6xl font-semibold">TUS AUDIOS</h2>
        </div>
        <section class="w-full mt-8 px-16">
            <AddAudio title="Agrega un nuevo audio"/>
            <h2 class="text-xl font-medium">Tus audios</h2>
            <table class="mt-8 table-auto w-full">
                <thead class="opacity-60">
                    <tr class="text-left">
                        <th class="pb-2 pl-3">Canción</th>
                        <th>Álbum</th>
                        <th class="max-w-6">Duración</th>
                    </tr>
                </thead>
                <tbody class="border-t-[1px] border-white border-opacity-60">
                    {canciones.map((cancion, index) => (
                          <tr class=" hover:bg-[#262626]" onclick="window.location='/audio/cancion1';">
                            <td class="py-3 pl-3 flex flex-row items-center gap-3">
                                <div class=" h-12 aspect-square bg-black rounded-[4px]">
                                </div>
                                {cancion.title}
                                </td>
                            <td class="py-3">{cancion.album}</td>
                            <td class="py-3 max-w-6 ">{cancion.time}</td>
                            <td class="max-w-3 cursor-pointer pr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#6985C0" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg></td>
                        </tr>
    
                    ))
                    }
                </tbody>
            </table>
        </section>
        
    </div>
</CreatorLayout>

<script is:inline>
    // Check for BlobURL support
    var blob = window.URL || window.webkitURL;

    const inputFile = document.getElementById('file');
    const audio = document.getElementById('audio');
    if(inputFile != null && audio != null){
        inputFile.addEventListener('change', function(event){

            var file = this.files[0],
            fileURL = blob.createObjectURL(file);
            audio.src = fileURL;

        });
    }
    
</script>


